html { font:normal 16pt/150% "Segoe UI",Avenir,Tahoma,sans-serif }
main { display:block }
footer { display:block; margin-top:1em; font-size:80% }
a { text-decoration:none }
h1 { margin:0; font:normal 200% "Segoe UI", Avenir, Tahoma, sans-serif }

@media screen {
  html { display:table; width:100%; height:100%; background:#FCFEFF; color:#07203B }
  body { display:table-cell; vertical-align:middle }
  main { margin:0 auto 20%; padding:0 1em; max-width:40em; text-align:center }
  footer { opacity:0.6 }
  a { color:#4B7AAD; transition:color 0.3s ease }
  a:hover,a:focus { color:#5F96D1; text-decoration:underline }
  h1 { text-shadow:0 1px 3px #FFF }
}

@media print {
  a { color:#000 }
}

@media only screen and (max-width: 640px) {
  html { font-size:12pt }
  h1 { font-size:150% }
}
